<!doctype html>
<html>
    <head>
        <title>Legislatures</title>
        <link rel="stylesheet" type="text/css" href="bin/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <script src="bin/vue.js"></script>
        <script src="bin/sortable.js"></script>
        <script src="bin/vue-draggable.js"></script>
        <script src="bin/paper-core.min.js"></script>
        <script src="src/main.js"></script>
    </head>

    <body>
        <canvas resize="true" class="display" id="display" width="640" height="480"></canvas>
        <div class="section">        
        <div class="container">
            <div class="columns" id="vue">
                
                <div class="column is-3 ">
                    <aside class="menu box">
                    <ul class="menu-list">
                        
                        <template v-for="item of menuItems">
                            <li v-on:click="() => currentMenu = item.name">
                                <a 
                                    class="is-active"
                                    v-if="item.name === currentMenu"
                                >
                                    {{item.text}}
                                </a>
                                
                                <a v-else>{{item.text}}</a>
                            </li>
                        </template>
                    
                    </ul>
                    </aside>
                </div>

                <div class="column">

                    <article v-if="error.title !== ''" class="message is-danger">
                        <div class="message-header">
                            <p><strong>Error: </strong>{{error.title}}</p>
                        </div>
                        <div class="message-body">
                            {{error.message}}
                        </div>
                    </article>

                    <!-- General Settings: -->
                    <div v-if="currentMenu === 'general'" class="box">
                        <h1 class="title is-4">General Settings</h1>

                        <div class="field">                    
                        <div class="control">
                            <label class="label">Jurisdiction Name: </label>
                            <input 
                                class="input" 
                                v-model.number="jurisdictionName"
                            >
                        </div>
                        </div>

                        <div class="field">                    
                        <div class="control">
                            <label class="label">Legislature Name: </label>
                            <input 
                                class="input" 
                                v-model="legislatureName"
                            >
                        </div>
                        </div>

                        <div class="field is-grouped">                    
                            <div class="control">
                                <label class="label">Typology: </label>
                                <div class="select">
                                    <select v-model="typology">
                                        <option 
                                            v-for="option in typologies" 
                                            v-bind:value="option.value"
                                        >{{ option.text }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="control" v-if="typology=='circle'">
                                <label class="label">Angle (1-360): </label>
                                <input 
                                    class="input" 
                                    v-model.number="theta"
                                    type="number"
                                >
                            </div>
                        </div>

                        <div class="field">                    
                        <div class="control">
                            <label class="label">Number of seats: </label>
                            <input 
                                class="input" 
                                v-model.number="numberOfSeats" 
                                type="number"
                            >
                        </div>
                        </div>

                    </div>

                    <!-- Party Settings: -->
                    <div v-if="currentMenu === 'parties-groups'" class="box">
                        <h1 class="title is-4">Parties and Groups</h1>
                        
                        <div class="field">
                        <div class="control">
                            
                            <label class="checkbox label">
                                <input class="checkbox" 
                                    type="checkbox" 
                                    v-model="speaker.enabled"
                                    v-on:change="() => speaker.party = parties[0]"
                                >
                                Enable Speaker
                            </label>

                        </div>
                        </div>

                        <div v-if="speaker.enabled && useParties" class="box" >
                            
                            <div class="field">
                            <div class="control">
                                
                                <label class="checkbox label">
                                    <input class="checkbox" 
                                        type="checkbox" 
                                        v-model="speaker.partisan"
                                    >
                                    Speaker is Partisan
                                </label>

                            </div>
                            </div>

                            <div v-if="speaker.partisan" class="field">
                                <label class="label">Party</label>
                            <div class="control">

                                <div class="select">
                                <select v-model="speaker.party">
                                    <option v-for="party in parties" v-bind:value="party">
                                        {{party.name}}
                                    </option>
                                </select>
                                </div>

                            </div>
                            </div>

                        </div>

                        <div class="field">
                        <div class="control">
                            
                            <label class="checkbox label">
                                <input class="checkbox" 
                                    type="checkbox" 
                                    v-model="useParties"
                                >
                                Legislature Has Parties
                            </label>

                        </div>
                        </div>

                        <div v-if="numberOfSeats > 0" class="field">
                        <div class="control">
                            Remaining seats: {{ numberOfSeats - 
                                parties.reduce((acc, cur) => acc += cur.numberOfMembers, 0) }}
                        </div>
                        </div>

                        <div v-if="useParties" class="columns">

                        <div v-if="parties.length > 0" class="column is-8">
                        

                                <div class="card party-card" v-for="party in parties">
                                    
                                    <header class="card-header">
                                        <p class="card-header-title">
                                        {{party.name}}
                                        </p>
                                        <a 
                                            class="card-header-icon"
                                            v-on:click="party.collapsed = !party.collapsed"
                                        >
                                            <span 
                                                v-if="party.collapsed" 
                                                class="icon"
                                            >►</span>
                                            <span 
                                                v-if="!party.collapsed" 
                                                class="icon"
                                            >▼</span>
                                        </a>
                                        <a class="card-header-icon">
                                            <span 
                                                v-on:click="deleteParty(party)" 
                                                class="icon"
                                            >🗙</span>
                                        </a>
                                    </header>

                                    <div v-if="!party.collapsed" class="card-content">                                        
                                    <div class="content">

                                        <div class="field has-addons">
                                            <div class="control is-expanded">
                                                <input 
                                                    class="input" 
                                                    type="text"
                                                    placeholder="Party Name"
                                                    v-model="party.name"
                                                >   
                                            </div>
                                            <div class="control">
                                                <a 
                                                    v-on:click="party.name=generatePartyName()"
                                                    class="button"
                                                >Generate</a>
                                            </div>
                                        </div>

                                        <div class="field">
                                            <label>Number of members: </label>
                                        <div class="control">
                                            <input 
                                                class="input" 
                                                v-model.number="party.numberOfMembers" 
                                                type="number"
                                            >   
                                        </div>
                                        </div>

                                        <div class="field">
                                            <label>Color: </label>
                                        <div class="control">
                                            <input 
                                                class="input" 
                                                type="color"
                                                v-model="party.color"
                                            >   
                                        </div>
                                        </div>

                                    </div>
                                    </div>
                                </div>
                        </div> <!-- left column -->

                        <div class="column" v-if="parties.length > 0 && typology === 'opposing'">
                            
                            <nav class="panel">
                                <p class="panel-heading">Government Bench</p>

                                <draggable 
                                    v-model="government" 
                                    class="panel-drag" 
                                    :options="{ group: 'parties' }"
                                >
                                <div v-for="party in government" class="panel-block">
                                    <span class="panel-icon">☰</span>
                                    {{party.name}}
                                </div>
                                </draggable>
                            </nav>

                            <nav class="panel">
                                <p class="panel-heading">Opposition Bench</p>

                                <draggable 
                                    v-model="opposition" 
                                    class="panel-drag" 
                                    :options="{ group: 'parties' }"
                                >
                                <div v-for="party in opposition" class="panel-block">
                                    <span class="panel-icon">☰</span>
                                    {{party.name}}
                                </div>
                                </draggable>
                            </nav>

                            <nav class="panel">
                                <p class="panel-heading">
                                    Crossbenches
                                </p>
                                <draggable 
                                    v-model="crossbench" 
                                    class="panel-drag" 
                                    :options="{ group: 'parties' }"
                                >
                                <div v-for="party in crossbench" class="panel-block">
                                    <span class="panel-icon">☰</span>
                                    {{party.name}}
                                </div>
                                </draggable>
                            </nav>

                        </div> <!-- right column -->

                        <div 
                            class="column" 
                            v-if="parties.length > 0 && typology !== 'opposing'">
                            
                            <nav class="panel">
                                <p class="panel-heading">Party Ordering</p>
                            
                                <template v-if="typology === 'horseshoe'">
                                    <div class="panel-block"><i>(Left / Opposition)</i></div>
                                </template>
                                <template v-else>
                                    <div class="panel-block"><i>(Left)</i></div>
                                </template>

                                <draggable 
                                    v-model="partyOrdering" 
                                    class="panel-drag" 
                                    :options="{ group: 'parties' }"
                                >
                                <div v-for="party in partyOrdering" class="panel-block">
                                    <span class="panel-icon">☰</span>
                                    {{party.name}}
                                </div>
                                </draggable>

                                <template v-if="typology === 'horseshoe'">
                                    <div class="panel-block"><i>(Right / Government)</i></div>
                                </template>
                                <template v-else>
                                    <div class="panel-block"><i>(Right)</i></div>
                                </template>
                            
                            </nav>

                        </div> <!-- right column -->

                        </div> <!-- columns -->

                        <div class="field" v-if="useParties">
                        <div class="control">
                            <button 
                                class="button" 
                                v-on:click="addParty"
                            >Add Party</button>
                        </div>
                        </div>
                        

                    </div> <!-- box -->

                    <!-- Drawing Settings: -->
                    <div v-if="currentMenu === 'drawing'" class="box">
                        <h1 class="title is-4">Drawing Settings</h1>

                        <div class="field">                    
                        <div class="control">
                            <label class="label">Seat shape: </label>
                            <div class="select">
                                <select v-model="seatShape">
                                    <option value="square">Square</option>
                                    <option value="circle">Circle</option>
                                </select>
                            </div>
                        </div>
                        </div>

                        <div class="field">
                            <label class="label">Seat Size: </label>
                        <div class="control">
                            <input 
                                class="input" 
                                v-model.number="seatSize" 
                                type="number"
                            >   
                        </div>
                        </div>

                        <div class="field">
                            <label class="label">Seat Spacing: </label>
                        <div class="control">
                            <input 
                                class="input" 
                                v-model.number="seatSpacing" 
                                type="number"
                            >   
                        </div>
                        </div>

                        <div class="field" v-if="typology === 'opposing'">
                            <div class="control">
                                <label class="checkbox label">
                                <input class="checkbox" 
                                    type="checkbox" 
                                    v-model="equalBenches"
                                >
                                Equal Bench Sizes
                                </label>
                        </div>
                        </div>

                        <div class="field" v-if="typology === 'classroom'">
                            <label class="label">Classroom Columns: </label>
                        <div class="control">
                            <input 
                                class="input" 
                                v-model.number="classroomColumns" 
                                type="number"
                            >   
                        </div>
                        </div>

                        <div class="field" v-if="typology === 'horseshoe'">
                            <label class="label">Crossbenches' Fraction of Total Seats (0-1): </label>
                        <div class="control">
                            <input 
                                class="input" 
                                v-model.number="horseshoeRatio" 
                                type="number"
                            >   
                        </div>
                        </div>

                    </div> <!-- box -->

                    <!-- Load/Save Data: -->
                    <div v-if="currentMenu === 'load-save'" class="box">
                        <h1 class="title is-4">Load/Save Data</h1>

                        <div class="field">                    
                        <div class="control">
                            <textarea 
                                class="textarea" 
                                v-model="dataEntry"
                            ></textarea>
                        </div>
                        </div>

                        <a v-on:click="load(dataEntry)" class="button is-success">Load</a>
                        <a v-on:click="dataEntry = save()" class="button is-success">Save</a>

                    </div> <!-- box -->


                    <span class="is-pulled-right">
                        <a 
                            class="button" 
                            v-bind:href="exportSVG()" 
                            download="legislature.svg"
                        >Export as SVG</a>
                        <a v-on:click="generate()" class="button is-success">Generate</a>
                    </span>
                </div>
            </div>
        </div>
        </div>
        </div>
    </body>

</html>