.display {
    display: block;
    width: 640px;
    height: 480px;
    margin: 75px auto 10px auto;
}

.third {
    height: 100%;
    width: 32%;
    display: inline-block;
}

.half {
    align-items: stretch;
    height: 100%;
    width: 49%;
    display: inline-block;
}

.column {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.controls {
    width: 800px;
    margin: 10px auto;
    display: flex;
}

.control {
    margin-bottom: 10px;
}

.control-elem {
    float: right;
    width: 30%;
}

    input.control-elem {
        text-align: right;
    }

.party {
    margin-bottom: 10px;
}

#generate {
    display: block;
    margin: 20px auto;
}